/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Nov 2020, 15:15:14
    Author     : admin
*/

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  align: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
color:white;
}
h1{
color:lightblue;
background-color:white;
}
button{
background-color:lightblue;
color:grey;
font-weight:bold;
}

